<head>
    <title>Index2</title>

    <!--Prueba Javascript-->
    <script src="../static/app.js"></script>
    <link rel="stylesheet" href="../styles/estilos.css">
</head>

<!-- Prueba barra ateral -->
<body>
    <div id = "sidebar">
        <div class="toggle-btn">
            <span>&#9976</span>
        </div>
        <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About></li>
        </ul>
    </div>
    <script src="../static/app.js"></script>
</body>



<!--aqui intento hacer redonda la imagen con un estilo de css -->
<img src="../images/formula_1.jpg" alt="imagen de formula1">